<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2>Users</h2>
<br>

<table id="users">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Actions</th>
    </tr>

    <tr th:each="user : ${allUsers}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.department}"></td>
        <td th:text="${user.salary}"></td>

        <td>
            <form th:action="@{/updateInfo}" method="get">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <input type="submit" value="Update"/>
            </form>
            <form th:action="@{/deleteUser}" method="post" style="display:inline">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>

<br>

<input type="button"
       value="Add User"
       onclick="window.location.href='addNewUser'"/>

</body>
</html>